.App {
  text-align: center;
}



.App-header {
  background-color: rgba(40,44,52, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

