.aboutContainer {

    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    
}


.aboutTitleContainer {

    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(10px + 4vmin);


}


.aboutBodyContainer {

    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: left;
    color:  white;
    font-family: Roboto;

}

.aboutBodyColumn {
    width: 30vw;
    height: 20vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;

    
}


.aboutBodyColumnTitle {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 1vmin);
    margin-bottom: 2vh;
    margin-top: 2vh;

}

.aboutBodyColumnBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: calc(10px + 1vmin);

}

.aboutBodyColumnBody span {
    width: 25vw;
    text-align: center;
}

.aboutTitle {
    padding-left: 5vw;
    margin-bottom: 0;
}

.aboutTitle span {
  color: black;
    
}

.aboutMarkDown {
    width: 100vw;
}