.aboutContainer {

    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(99, 225, 241, 0.8);
    
}


.aboutTitleContainer {

    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(10px + 4vmin);


}


.aboutBodyContainer {

    width: 90vw;
    /* display: flex;
    justify-content: left;
    align-items: center; */
    text-align: left;
    color: black;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.aboutTitle {
    padding-left: 5vw;
    margin-bottom: 0;
}

.aboutTitle span {
    color: white;
}

.aboutMarkDown {
    width: 100vw;
}