.baseContainer {
  width: 100vw;
  height: 90vh;
  color: white;
  font-size: calc(10px + 4vmin);
  display: flex;
  justify-content: center;
  align-items: center;
}

.base {
  width: 60vw;
  max-height: 60vmin;
  height: 70vh;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  color: black;
}

.uploadButton {
  width: 10vmin;
  height: 10vmin;
  background-image: url("../assets/cloud-upload_3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 4vh;
}

.uploadText {
  font-size: calc(10px + 2vmin);
}

.uploadText span {
  color: black;
}

.uploadDragDrop {
  color: black;
}
