.title {
  font-size: calc(10px + 4vmin);
  height: 10vh;
  width: 70vw;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 5vw;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(77, 194, 77);
}
