.navigator {
    width: 70vw;
    height: 16vh;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 2vw;
}

.navigatorButtons {
    padding-left: 2vw;
    padding-right: 2vw;
    
}

.navigatorButtons:hover{
    color: grey;
    cursor: pointer;
}
